<?xml version="1.0" encoding="UTF-8"?>

<launch>
  <!-- World File -->
  <arg name="world_file" default="$(find pgm_map_creator)/worlds/test2.world"/>
  <!-- Launch Gazebo World -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="use_sim_time" value="true"/>
    <arg name="debug" value="false"/>
    <arg name="gui" value="true" />
    <arg name="world_name" value="$(arg world_file)"/>
  </include>
</launch>
